body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#mainCanvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#minimap {
	position: fixed;
	bottom: 2%;
	right: 2%;
	border-width: 0.1em;
	border-style: solid;
}

#scoreboard {
	position: fixed;
	right: 2%;
	top: 2%;
	width: 20em;
	height: auto;
	visibility: hidden;
}

#messageboard {
	position: fixed;
	left: 2%;
	bottom: 2%;
	width: 20em;
	height: auto;
	max-height: 15%;
	overflow: hidden;
	visibility: hidden;
}

#scoreboard, #messageboard {
	background-color:rgba(176, 224, 230, 0.5);
	font-family: monospace;
}

#scoreboard, #scoreboard th, #scoreboard td {
    border: 1px solid black;
    border-collapse: collapse;
}
